Repository marko-js/htmljs-parser: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, fixpack

fix: issue with division expressions
  src/states/EXPRESSION.ts
Due: eslint --fix, prettier --write

perf: expression state micro optimizations
  src/core/Parser.ts
  src/states/EXPRESSION.ts
Due: eslint --fix, prettier --write

refactor: use open tag state for attr group check
  src/core/Parser.ts
  src/states/ATTRIBUTE.ts
  src/states/OPEN_TAG.ts
Due: eslint --fix, prettier --write

fix: windows newline issues
  src/__tests__/main.test.ts
  src/core/Parser.ts
  src/states/BEGIN_DELIMITED_HTML_BLOCK.ts
Due: eslint --fix, prettier --write

fix: more expression parsing improvements
  src/__tests__/fixtures/attr-operators-space-after/__snapshots__/attr-operators-space-after.expected.txt
  src/__tests__/fixtures/attr-operators-space-after/input.marko
  src/__tests__/fixtures/attr-operators-space-before/__snapshots__/attr-operators-space-before.expected.txt
  src/__tests__/fixtures/attr-operators-space-before/input.marko
  src/__tests__/fixtures/attr-operators-space-between/__snapshots__/attr-operators-space-between.expected.txt
  src/__tests__/fixtures/attr-operators-space-between/input.marko
  src/__tests__/fixtures/attr-operators/__snapshots__/attr-operators.expected.txt
  src/__tests__/fixtures/attr-operators/input.marko
  src/states/EXPRESSION.ts
Due: eslint --fix, prettier --write

docs: better document the expression operator regexp
  src/states/EXPRESSION.ts
Due: eslint --fix, prettier --write

feat: better expression function parsing and other improvements
  src/__tests__/fixtures/attr-complex-functions/__snapshots__/attr-complex-functions.expected.txt
  src/__tests__/fixtures/attr-complex-functions/input.marko
  src/states/EXPRESSION.ts
Due: eslint --fix, prettier --write

test: add benchmark script
  .eslintrc.json
  package-lock.json
  package.json
  src/__tests__/bench.ts
Due: eslint --fix, prettier --write, fixpack

feat: add next as prerelease branch BREAKING CHANGE: New top level api
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .releaserc.json
Due: prettier --write

refactor: remove rewind and skip api
  src/core/Parser.ts
  src/states/ATTRIBUTE.ts
  src/states/BEGIN_DELIMITED_HTML_BLOCK.ts
  src/states/CDATA.ts
  src/states/CLOSE_TAG.ts
  src/states/CONCISE_HTML_CONTENT.ts
  src/states/DECLARATION.ts
  src/states/DTD.ts
  src/states/EXPRESSION.ts
  src/states/HTML_COMMENT.ts
  src/states/HTML_CONTENT.ts
  src/states/INLINE_SCRIPT.ts
  src/states/JS_COMMENT_BLOCK.ts
  src/states/OPEN_TAG.ts
  src/states/PARSED_TEXT_CONTENT.ts
  src/states/PLACEHOLDER.ts
  src/states/REGULAR_EXPRESSION.ts
  src/states/STRING.ts
  src/states/TAG_NAME.ts
  src/states/TEMPLATE_STRING.ts
Due: eslint --fix, prettier --write

refactor: align position apis with language server spec
  src/__tests__/main.test.ts
  src/util/constants.ts
  src/util/util.ts
Due: eslint --fix, prettier --write

perf: optimize expression state to use charcodes
  src/states/ATTRIBUTE.ts
  src/states/EXPRESSION.ts
  src/states/INLINE_SCRIPT.ts
  src/states/OPEN_TAG.ts
  src/states/PLACEHOLDER.ts
  src/states/TAG_NAME.ts
  src/states/TEMPLATE_STRING.ts
  src/util/util.ts
Due: eslint --fix, prettier --write

chore: upgrade deps
  package-lock.json
  package.json
Due: prettier --write, fixpack

chore: move release into the ci workflow
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .releaserc.json
Due: prettier --write

feat: add typescript keywords, avoid multi line expressions
  src/__tests__/fixtures/attr-operators-newline-after/__snapshots__/attr-operators-newline-after.expected.txt
  src/__tests__/fixtures/attr-operators-newline-after/input.marko
  src/__tests__/fixtures/attr-operators-newline-before/__snapshots__/attr-operators-newline-before.expected.txt
  src/__tests__/fixtures/attr-operators-newline-before/input.marko
  src/__tests__/fixtures/attr-operators-space-after/__snapshots__/attr-operators-space-after.expected.txt
  src/__tests__/fixtures/attr-operators-space-after/input.marko
  src/__tests__/fixtures/attr-operators-space-before/__snapshots__/attr-operators-space-before.expected.txt
  src/__tests__/fixtures/attr-operators-space-before/input.marko
  src/__tests__/fixtures/attr-operators-space-between/__snapshots__/attr-operators-space-between.expected.txt
  src/__tests__/fixtures/attr-operators-space-between/input.marko
  src/states/EXPRESSION.ts
Due: eslint --fix, prettier --write

chore: add test for tag var after shorthand class/id
  src/__tests__/fixtures/tag-var-declaration/__snapshots__/tag-var-declaration.expected.txt
  src/__tests__/fixtures/tag-var-declaration/input.marko
Due: none

chore: mark next branch as prerelease
  .releaserc.json
Due: prettier --write

fix: positions wrong with multiple quasis in tag name
  src/__tests__/fixtures/argument-and-params/__snapshots__/argument-and-params.expected.txt
  src/__tests__/fixtures/placeholder-tag-name-concise/__snapshots__/placeholder-tag-name-concise.expected.txt
  src/__tests__/fixtures/placeholder-tag-name-html/__snapshots__/placeholder-tag-name-html.expected.txt
  src/__tests__/fixtures/shorthand-class-dynamic-literal-prefix/__snapshots__/shorthand-class-dynamic-literal-prefix.expected.txt
  src/__tests__/fixtures/shorthand-class-dynamic-literal-suffix/__snapshots__/shorthand-class-dynamic-literal-suffix.expected.txt
  src/__tests__/fixtures/shorthand-class-dynamic/__snapshots__/shorthand-class-dynamic.expected.txt
  src/__tests__/fixtures/shorthand-id-dynamic-literal-prefix/__snapshots__/shorthand-id-dynamic-literal-prefix.expected.txt
  src/__tests__/fixtures/shorthand-id-dynamic-literal-suffix/__snapshots__/shorthand-id-dynamic-literal-suffix.expected.txt
  src/__tests__/fixtures/shorthand-id-dynamic/__snapshots__/shorthand-id-dynamic.expected.txt
  src/__tests__/fixtures/tag-name-expression-literal-prefix-attrs/__snapshots__/tag-name-expression-literal-prefix-attrs.expected.txt
  src/__tests__/fixtures/tag-name-expression-literal-prefix-suffix/__snapshots__/tag-name-expression-literal-prefix-suffix.expected.txt
  src/__tests__/fixtures/tag-name-expression-literal-prefix/__snapshots__/tag-name-expression-literal-prefix.expected.txt
  src/__tests__/fixtures/tag-name-expression-literal-suffix/__snapshots__/tag-name-expression-literal-suffix.expected.txt
  src/__tests__/fixtures/tag-name-expression-shorthand-id/__snapshots__/tag-name-expression-shorthand-id.expected.txt
  src/__tests__/fixtures/tag-name-expression-simple-empty-close/__snapshots__/tag-name-expression-simple-empty-close.expected.txt
  src/__tests__/fixtures/tag-name-expression-simple/__snapshots__/tag-name-expression-simple.expected.txt
  src/__tests__/fixtures/tag-var-declaration/__snapshots__/tag-var-declaration.expected.txt
  src/__tests__/fixtures/testing/__snapshots__/testing.expected.txt
  src/__tests__/fixtures/testing/input.marko
  src/states/TAG_NAME.ts
Due: eslint --fix, prettier --write

fix: temporarily remove multi line expression handling to avoid regression
  src/__tests__/fixtures/attr-operators-newline-after.skip/__snapshots__/attr-operators-newline-after.expected.txt
  src/__tests__/fixtures/attr-operators-newline-after.skip/input.marko
  src/__tests__/fixtures/attr-operators-newline-before.skip/__snapshots__/attr-operators-newline-before.expected.txt
  src/__tests__/fixtures/attr-operators-newline-before.skip/input.marko
  src/__tests__/fixtures/scriptlet-terminated-by-semi-colon/__snapshots__/scriptlet-terminated-by-semi-colon.expected.txt
  src/__tests__/fixtures/scriptlet-terminated-by-semi-colon/input.marko
  src/__tests__/main.test.ts
  src/states/EXPRESSION.ts
Due: eslint --fix, prettier --write

feat: support expression continuations after newlines
  src/__tests__/fixtures/attr-operators-newline-after/__snapshots__/attr-operators-newline-after.expected.txt
  src/__tests__/fixtures/attr-operators-newline-after/input.marko
  src/__tests__/fixtures/attr-operators-newline-before/__snapshots__/attr-operators-newline-before.expected.txt
  src/__tests__/fixtures/attr-operators-newline-before/input.marko
  src/states/EXPRESSION.ts
Due: eslint --fix, prettier --write

refactor: make error codes an enum
  src/__tests__/fixtures/argument-attr-multiple/__snapshots__/argument-attr-multiple.expected.txt
  src/__tests__/fixtures/argument-tag-multiple/__snapshots__/argument-tag-multiple.expected.txt
  src/__tests__/fixtures/attr-name-with-html-chars/__snapshots__/attr-name-with-html-chars.expected.txt
  src/__tests__/fixtures/bad-tag-indent/__snapshots__/bad-tag-indent.expected.txt
  src/__tests__/fixtures/mixed-bad-indentation/__snapshots__/mixed-bad-indentation.expected.txt
  src/__tests__/fixtures/open-tag-only-with-body-concise/__snapshots__/open-tag-only-with-body-concise.expected.txt
  src/__tests__/fixtures/placeholder-empty/__snapshots__/placeholder-empty.expected.txt
  src/__tests__/fixtures/script-concise-invalid-nested-tag/__snapshots__/script-concise-invalid-nested-tag.expected.txt
  src/__tests__/main.test.ts
  src/core/Parser.ts
  src/index.ts
  src/states/ATTRIBUTE.ts
  src/states/BEGIN_DELIMITED_HTML_BLOCK.ts
  src/states/CDATA.ts
  src/states/CLOSE_TAG.ts
  src/states/CONCISE_HTML_CONTENT.ts
  src/states/DECLARATION.ts
  src/states/DTD.ts
  src/states/EXPRESSION.ts
  src/states/HTML_COMMENT.ts
  src/states/JS_COMMENT_BLOCK.ts
  src/states/OPEN_TAG.ts
  src/states/PLACEHOLDER.ts
  src/states/REGULAR_EXPRESSION.ts
  src/states/STRING.ts
  src/states/TAG_NAME.ts
  src/states/TEMPLATE_STRING.ts
  src/util/constants.ts
  src/util/util.ts
Due: eslint --fix, prettier --write

chore: stick with semantic-release defaults
  .releaserc.json
Due: prettier --write

fix: bring back expression eol operator continuation
  src/__tests__/fixtures/attr-operators-newline-after/__snapshots__/attr-operators-newline-after.expected.txt
  src/__tests__/fixtures/attr-operators-newline-after/input.marko
  src/__tests__/fixtures/attr-operators-newline-before/__snapshots__/attr-operators-newline-before.expected.txt
  src/__tests__/fixtures/attr-operators-newline-before/input.marko
  src/states/EXPRESSION.ts
Due: eslint --fix, prettier --write

chore: rework documentation
  README.md
  src/index.ts
  src/util/constants.ts
Due: eslint --fix, prettier --write

chore: allow pending tests in ci
  package.json
Due: prettier --write, fixpack

fix: issue with continuing expressions from eol for windows
  src/states/EXPRESSION.ts
Due: eslint --fix, prettier --write

chore: add missing placeholder locations from test snapshots
  src/__tests__/fixtures/complex/__snapshots__/complex.expected.txt
  src/__tests__/fixtures/concise-contentplaceholder-html-start/__snapshots__/concise-contentplaceholder-html-start.expected.txt
  src/__tests__/fixtures/concise-contentplaceholder-start/__snapshots__/concise-contentplaceholder-start.expected.txt
  src/__tests__/fixtures/empty-closing-tag2/__snapshots__/empty-closing-tag2.expected.txt
  src/__tests__/fixtures/mixed-invalid/__snapshots__/mixed-invalid.expected.txt
  src/__tests__/fixtures/mixed/__snapshots__/mixed.expected.txt
  src/__tests__/fixtures/placeholder-backslash/__snapshots__/placeholder-backslash.expected.txt
  src/__tests__/fixtures/placeholder-body-text/__snapshots__/placeholder-body-text.expected.txt
  src/__tests__/fixtures/placeholder-escape/__snapshots__/placeholder-escape.expected.txt
  src/__tests__/fixtures/placeholder-no-escape/__snapshots__/placeholder-no-escape.expected.txt
  src/__tests__/fixtures/placeholder-within-placeholder-escaping/__snapshots__/placeholder-within-placeholder-escaping.expected.txt
  src/__tests__/fixtures/placeholder-within-placeholder/__snapshots__/placeholder-within-placeholder.expected.txt
  src/__tests__/fixtures/placeholder-within-script-tag/__snapshots__/placeholder-within-script-tag.expected.txt
  src/__tests__/fixtures/placeholder-within-script-within-string/__snapshots__/placeholder-within-script-within-string.expected.txt
  src/__tests__/fixtures/script-escaped-placeholder/__snapshots__/script-escaped-placeholder.expected.txt
  src/__tests__/fixtures/script-tag-entities/__snapshots__/script-tag-entities.expected.txt
  src/__tests__/fixtures/shorthand-closing-html/__snapshots__/shorthand-closing-html.expected.txt
  src/__tests__/fixtures/tag-var-with-params/__snapshots__/tag-var-with-params.expected.txt
  src/__tests__/main.test.ts
Due: eslint --fix, prettier --write

chore: upgrade some project boilerplate
  .commitlintrc.json
  .eslintignore
  .eslintrc.json
  .fixpackrc
  .github/CODE_OF_CONDUCT.md
  .github/ISSUE_TEMPLATE/Bug_report.md
  .github/ISSUE_TEMPLATE/Feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  .mocharc.json
  .nycrc.json
  .prettierignore
  .prettierrc.json
  .releaserc.json
  .travis.yml
  LICENSE
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write, fixpack

refactor: cleanup some apis, merge parsers
  package.json
  src/core/BaseParser.ts
  src/core/Parser.ts
  src/internal.ts
  src/states/EXPRESSION.ts
  src/states/HTML_CONTENT.ts
  src/states/OPEN_TAG.ts
  test/autotest/open-tag-parser-state/test.js
Due: eslint --fix, prettier --write, fixpack

feat: remove ability to override parse options
  src/core/Parser.ts
  src/states/OPEN_TAG.ts
  src/util/notify-util.ts
  test/autotest/commas-relax/test.js
  test/autotest/ignoreAttributes/expected.html
  test/autotest/ignoreAttributes/input.htmljs
  test/autotest/ignoreAttributes/test.js
  test/autotest/mixed-open-tag-only/expected.html
  test/autotest/mixed-open-tag-only/input.htmljs
  test/autotest/open-tag-only-custom/expected.html
  test/autotest/open-tag-only-custom/input.htmljs
  test/autotest/open-tag-only-custom/test.js
Due: eslint --fix, prettier --write

refactor: reduce objects from closeTag helper
  src/core/Parser.ts
  src/states/ATTRIBUTE.ts
  src/states/CLOSE_TAG.ts
  src/states/CONCISE_HTML_CONTENT.ts
  src/states/EXPRESSION.ts
  src/states/OPEN_TAG.ts
  src/util/notify-util.ts
  src/util/operators.ts
  test/util/TreeBuilder.js
Due: eslint --fix, prettier --write

feat: expose position for text content
  src/core/Parser.ts
  src/states/CONCISE_HTML_CONTENT.ts
  src/states/HTML_CONTENT.ts
  src/states/PARSED_TEXT_CONTENT.ts
  src/states/STATIC_TEXT_CONTENT.ts
  src/util/notify-util.ts
Due: eslint --fix, prettier --write

chore: delete some code
  src/states/ATTRIBUTE.ts
  src/states/EXPRESSION.ts
  src/states/HTML_CONTENT.ts
  src/states/PLACEHOLDER.ts
Due: eslint --fix, prettier --write

chore: add new pos types
  package-lock.json
  src/core/Parser.ts
  src/util/constants.ts
Due: eslint --fix, prettier --write

refactor: move checkCDATA helper out of parser
  src/core/Parser.ts
  src/states/CDATA.ts
  src/states/HTML_CONTENT.ts
  src/states/PARSED_TEXT_CONTENT.ts
Due: eslint --fix, prettier --write

feat: add read helper
  src/core/Parser.ts
Due: eslint --fix, prettier --write

refactor: move checkCloseTag helper out of parser
  src/core/Parser.ts
  src/states/CLOSE_TAG.ts
  src/states/JS_COMMENT_LINE.ts
  src/states/PARSED_TEXT_CONTENT.ts
  src/states/STATIC_TEXT_CONTENT.ts
Due: eslint --fix, prettier --write

perf: optimize onlyWhyspaceRemainsOnLine helper
  src/core/Parser.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *{.js,.json,.md,.yml,rc})
  fixpack: any of: ./package.json
