Repository marko-js/htmljs-parser: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, fixpack

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*{.js,.json,.md,.yml,rc}": ["prettier --write"],
  "./package.json": ["fixpack"]
}

fix: end types and trailing `!` correctly, and stop after an empty-placeholder error
  .changeset/empty-placeholder-error.md
  .changeset/trailing-non-null-assertion.md
  .changeset/type-ends-at-void.md
  .changeset/valid-type-statement.md
  agent-feedback/items/2026-09-25-end-a-type-at-a-line-final-void.md
  agent-feedback/items/2026-09-25-give-isvalidstatement-the-type-statement-look-ahead.md
  agent-feedback/items/2026-09-25-stop-emitting-a-placeholder-after-an-empty-placeholder-error.md
  agent-feedback/items/2026-09-25-treat-a-trailing-non-null-assertion-as-postfix.md
  agent-feedback/items/2026-09-26-detect-a-type-statement-after-extra-whitespace.md
  agent-feedback/items/2026-09-26-read-a-type-in-a-scriptlet-as-a-type.md
  agent-feedback/items/2026-09-26-treat-a-spaced-or-repeated-non-null-assertion-as-postfix.md
  agent-feedback/items/2026-09-26-treat-delete-as-a-unary-keyword.md
  src/__tests__/fixtures/attr-operators-space-after/__snapshots__/attr-operators-space-after.expected.txt
  src/__tests__/fixtures/attr-value-non-null-assertion-before-attr/__snapshots__/attr-value-non-null-assertion-before-attr.expected.txt
  src/__tests__/fixtures/attr-value-non-null-assertion-before-attr/input.marko
  src/__tests__/fixtures/attr-value-non-null-assertion-before-open-tag-end/__snapshots__/attr-value-non-null-assertion-before-open-tag-end.expected.txt
  src/__tests__/fixtures/attr-value-non-null-assertion-before-open-tag-end/input.marko
  src/__tests__/fixtures/attr-value-non-null-assertion-before-self-close/__snapshots__/attr-value-non-null-assertion-before-self-close.expected.txt
  src/__tests__/fixtures/attr-value-non-null-assertion-before-self-close/input.marko
  src/__tests__/fixtures/non-null-assertion-at-eol/__snapshots__/non-null-assertion-at-eol.expected.txt
  src/__tests__/fixtures/non-null-assertion-at-eol/input.marko
  src/__tests__/fixtures/placeholder-empty/__snapshots__/placeholder-empty.expected.txt
  src/__tests__/fixtures/prefix-not-after-keyword-operator/__snapshots__/prefix-not-after-keyword-operator.expected.txt
  src/__tests__/fixtures/prefix-not-after-keyword-operator/input.marko
  src/__tests__/fixtures/ts-tag-var-type-void/__snapshots__/ts-tag-var-type-void.expected.txt
  src/__tests__/fixtures/ts-tag-var-type-void/input.marko
  src/__tests__/fixtures/ts-type-statement-void-before-statement/__snapshots__/ts-type-statement-void-before-statement.expected.txt
  src/__tests__/fixtures/ts-type-statement-void-before-statement/input.marko
  src/__tests__/fixtures/ts-type-statement-void-before-tag/__snapshots__/ts-type-statement-void-before-tag.expected.txt
  src/__tests__/fixtures/ts-type-statement-void-before-tag/input.marko
  src/__tests__/fixtures/ts-void-return-type-before-body/__snapshots__/ts-void-return-type-before-body.expected.txt
  src/__tests__/fixtures/ts-void-return-type-before-body/input.marko
  src/__tests__/validate.test.ts
  src/states/EXPRESSION.ts
  src/states/PLACEHOLDER.ts
  src/states/TAG_NAME.ts
  src/util/validators.ts
Due: eslint --fix, prettier --write

feat: end types and trailing `!` correctly, read `delete` as an operator, and stop after an empty-placeholder error
  .changeset/delete-unary-keyword.md
  .changeset/empty-placeholder-error.md
  .changeset/trailing-non-null-assertion.md
  .changeset/type-ends-at-void.md
  .changeset/valid-type-statement.md
  src/__tests__/fixtures/attr-operators-space-after/__snapshots__/attr-operators-space-after.expected.txt
  src/__tests__/fixtures/attr-value-delete/__snapshots__/attr-value-delete.expected.txt
  src/__tests__/fixtures/attr-value-delete/input.marko
  src/__tests__/fixtures/attr-value-non-null-assertion-before-attr/__snapshots__/attr-value-non-null-assertion-before-attr.expected.txt
  src/__tests__/fixtures/attr-value-non-null-assertion-before-attr/input.marko
  src/__tests__/fixtures/attr-value-non-null-assertion-before-open-tag-end/__snapshots__/attr-value-non-null-assertion-before-open-tag-end.expected.txt
  src/__tests__/fixtures/attr-value-non-null-assertion-before-open-tag-end/input.marko
  src/__tests__/fixtures/attr-value-non-null-assertion-before-self-close/__snapshots__/attr-value-non-null-assertion-before-self-close.expected.txt
  src/__tests__/fixtures/attr-value-non-null-assertion-before-self-close/input.marko
  src/__tests__/fixtures/non-null-assertion-at-eol/__snapshots__/non-null-assertion-at-eol.expected.txt
  src/__tests__/fixtures/non-null-assertion-at-eol/input.marko
  src/__tests__/fixtures/placeholder-empty/__snapshots__/placeholder-empty.expected.txt
  src/__tests__/fixtures/prefix-not-after-keyword-operator/__snapshots__/prefix-not-after-keyword-operator.expected.txt
  src/__tests__/fixtures/prefix-not-after-keyword-operator/input.marko
  src/__tests__/fixtures/ts-tag-var-type-void/__snapshots__/ts-tag-var-type-void.expected.txt
  src/__tests__/fixtures/ts-tag-var-type-void/input.marko
  src/__tests__/fixtures/ts-type-statement-void-before-statement/__snapshots__/ts-type-statement-void-before-statement.expected.txt
  src/__tests__/fixtures/ts-type-statement-void-before-statement/input.marko
  src/__tests__/fixtures/ts-type-statement-void-before-tag/__snapshots__/ts-type-statement-void-before-tag.expected.txt
  src/__tests__/fixtures/ts-type-statement-void-before-tag/input.marko
  src/__tests__/fixtures/ts-void-return-type-before-body/__snapshots__/ts-void-return-type-before-body.expected.txt
  src/__tests__/fixtures/ts-void-return-type-before-body/input.marko
  src/__tests__/validate.test.ts
  src/states/EXPRESSION.ts
  src/states/PLACEHOLDER.ts
  src/states/TAG_NAME.ts
  src/util/validators.ts
Due: eslint --fix, prettier --write

docs: count only changes to correctly handled input as breaking
  AGENTS.md
Due: prettier --write

feat: read types in scriptlets and after extra whitespace
  .changeset/scriptlet-and-spaced-type-statements.md
  src/__tests__/fixtures/scriptlet-type-name-guard/__snapshots__/scriptlet-type-name-guard.expected.txt
  src/__tests__/fixtures/scriptlet-type-name-guard/input.marko
  src/__tests__/fixtures/scriptlet-type-void/__snapshots__/scriptlet-type-void.expected.txt
  src/__tests__/fixtures/scriptlet-type-void/input.marko
  src/__tests__/fixtures/ts-type-statement-extra-whitespace/__snapshots__/ts-type-statement-extra-whitespace.expected.txt
  src/__tests__/fixtures/ts-type-statement-extra-whitespace/input.marko
  src/__tests__/validate.test.ts
  src/states/EXPRESSION.ts
  src/states/INLINE_SCRIPT.ts
  src/states/TAG_NAME.ts
  src/util/validators.ts
Due: eslint --fix, prettier --write

feat: read a keyword after a spread's `...` and runs of postfix `!`
  .changeset/spread-keyword-and-bang-runs.md
  src/__tests__/fixtures/attr-spread-keyword-operator/__snapshots__/attr-spread-keyword-operator.expected.txt
  src/__tests__/fixtures/attr-spread-keyword-operator/input.marko
  src/__tests__/fixtures/non-null-assertion-repeated-or-after-literal/__snapshots__/non-null-assertion-repeated-or-after-literal.expected.txt
  src/__tests__/fixtures/non-null-assertion-repeated-or-after-literal/input.marko
  src/states/EXPRESSION.ts
Due: eslint --fix, prettier --write

feat: export package.json
  .changeset/export-package-json.md
  agent-feedback/items/2026-08-20-expose-package-json-export.md
  package.json
Due: prettier --write, fixpack

docs(agent-feedback): file text body and non-null assertion gaps
  agent-feedback/items/2026-07-30-escaped-quote-in-parsed-text.md
  agent-feedback/items/2026-09-25-add-a-text-body-mode-that-does-not-lex-javascript.md
  agent-feedback/items/2026-09-26-treat-a-spaced-non-null-assertion-as-postfix.md
  agent-feedback/items/2026-09-28-lex-regular-expressions-in-script-bodies.md
Due: prettier --write
