Repository marko-js/htmljs-parser: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, fixpack

feat: tag var type is continuable expression
  .changeset/fluffy-emus-try.md
  src/__tests__/fixtures/tag-var-declaration/__snapshots__/tag-var-declaration.expected.txt
  src/__tests__/fixtures/tag-var-declaration/input.marko
  src/states/EXPRESSION.ts
  src/states/OPEN_TAG.ts
Due: eslint --fix, prettier --write

fix: exclude member expressions from unary operator check
  .changeset/light-trees-laugh.md
  src/__tests__/fixtures/unary-as-member-expression/__snapshots__/unary-as-member-expression.expected.txt
  src/__tests__/fixtures/unary-as-member-expression/input.marko
  src/states/EXPRESSION.ts
Due: eslint --fix, prettier --write

fix: multi line expression parsing
  .changeset/strange-zoos-tell.md
  src/__tests__/fixtures/attr-operators-newline-after/__snapshots__/attr-operators-newline-after.expected.txt
  src/__tests__/fixtures/attr-operators-newline-after/input.marko
  src/__tests__/fixtures/attr-operators-newline-before/__snapshots__/attr-operators-newline-before.expected.txt
  src/__tests__/fixtures/attr-operators-newline-before/input.marko
  src/states/EXPRESSION.ts
  src/states/OPEN_TAG.ts
Due: eslint --fix, prettier --write

fix: issue parsing expressions with unenclosed newlines in windows
  .changeset/afraid-comics-whisper.md
  src/__tests__/main.test.ts
  src/states/EXPRESSION.ts
Due: eslint --fix, prettier --write

chore: improve ci script
  .github/workflows/ci.yml
  package.json
Due: prettier --write, fixpack

chore: more config file cleanup
  .github/workflows/ci.yml
  package.json
Due: prettier --write, fixpack

fix: bracket mismatch issue
  .changeset/tidy-moles-train.md
  package-lock.json
  src/__tests__/fixtures/attr-method-shorthand/__snapshots__/attr-method-shorthand.expected.txt
  src/__tests__/fixtures/attr-method-shorthand/input.marko
  src/__tests__/fixtures/testing/__snapshots__/testing.expected.txt
  src/__tests__/fixtures/testing/input.marko
  src/states/ATTRIBUTE.ts
  src/states/BEGIN_DELIMITED_HTML_BLOCK.ts
  src/states/CONCISE_HTML_CONTENT.ts
  src/states/INLINE_SCRIPT.ts
  src/states/OPEN_TAG.ts
  src/states/PLACEHOLDER.ts
  src/states/TAG_NAME.ts
Due: eslint --fix, prettier --write

fix: bracket mismatch issue (#108)
  .changeset/tidy-moles-train.md
  package-lock.json
  src/__tests__/fixtures/attr-method-shorthand/__snapshots__/attr-method-shorthand.expected.txt
  src/__tests__/fixtures/attr-method-shorthand/input.marko
  src/__tests__/fixtures/testing/__snapshots__/testing.expected.txt
  src/__tests__/fixtures/testing/input.marko
  src/states/ATTRIBUTE.ts
  src/states/BEGIN_DELIMITED_HTML_BLOCK.ts
  src/states/CONCISE_HTML_CONTENT.ts
  src/states/INLINE_SCRIPT.ts
  src/states/OPEN_TAG.ts
  src/states/PLACEHOLDER.ts
  src/states/TAG_NAME.ts
Due: eslint --fix, prettier --write

chore: switch to tsx cli from esbuild-register and to mitata from benchmark.js
  .mocharc.json
  bench.mts
  build.mts
  build.ts
  package-lock.json
  package.json
  src/__tests__/bench.ts
Due: eslint --fix, prettier --write, fixpack

chore: switch to tsx cli from esbuild-register and to mitata from benchmark.js (#107)
  .mocharc.json
  bench.mts
  build.mts
  build.ts
  package-lock.json
  package.json
  src/__tests__/bench.ts
Due: eslint --fix, prettier --write, fixpack

fix: avoid double publish in CI
  .changeset/ten-news-shave.md
  .github/workflows/ci.yml
  package.json
Due: prettier --write, fixpack

fix: avoid double publish in CI (#110)
  .changeset/ten-news-shave.md
  .github/workflows/ci.yml
  package.json
Due: prettier --write, fixpack

fix: make character positions for newlines the same as vscode
  .changeset/clean-months-cheat.md
  src/__tests__/main.test.ts
  src/util/util.ts
Due: eslint --fix, prettier --write

fix: make character positions for newlines the same as vscode (#112)
  .changeset/clean-months-cheat.md
  src/__tests__/main.test.ts
  src/util/util.ts
Due: eslint --fix, prettier --write

fix: issue with test type, and ensure build runs in CI
  .github/workflows/ci.yml
  src/__tests__/main.test.ts
Due: eslint --fix, prettier --write

fix: issue with test type, and ensure build runs in CI (#116)
  .github/workflows/ci.yml
  src/__tests__/main.test.ts
Due: eslint --fix, prettier --write

fix: onCloseTagStart event for text mode tags
  .changeset/late-cougars-attend.md
  src/__tests__/fixtures/cdata/__snapshots__/cdata.expected.txt
  src/__tests__/fixtures/html-comment-tag/__snapshots__/html-comment-tag.expected.txt
  src/__tests__/fixtures/parsed-text-placeholder-in-template-literal-string/__snapshots__/parsed-text-placeholder-in-template-literal-string.expected.txt
  src/__tests__/fixtures/parsed-text-style-tag/__snapshots__/parsed-text-style-tag.expected.txt
  src/__tests__/fixtures/placeholder-body-multi-line-js-comment/__snapshots__/placeholder-body-multi-line-js-comment.expected.txt
  src/__tests__/fixtures/placeholder-body-single-line-js-comment/__snapshots__/placeholder-body-single-line-js-comment.expected.txt
  src/__tests__/fixtures/placeholder-within-script-tag/__snapshots__/placeholder-within-script-tag.expected.txt
  src/__tests__/fixtures/placeholder-within-script-within-string/__snapshots__/placeholder-within-script-within-string.expected.txt
  src/__tests__/fixtures/script-escaped-placeholder/__snapshots__/script-escaped-placeholder.expected.txt
  src/__tests__/fixtures/script-single-line-comment/__snapshots__/script-single-line-comment.expected.txt
  src/__tests__/fixtures/script-tag-entities/__snapshots__/script-tag-entities.expected.txt
  src/__tests__/fixtures/script/__snapshots__/script.expected.txt
  src/states/CLOSE_TAG.ts
Due: eslint --fix, prettier --write

fix: onCloseTagStart event for text mode tags (#117)
  .changeset/late-cougars-attend.md
  src/__tests__/fixtures/cdata/__snapshots__/cdata.expected.txt
  src/__tests__/fixtures/html-comment-tag/__snapshots__/html-comment-tag.expected.txt
  src/__tests__/fixtures/parsed-text-placeholder-in-template-literal-string/__snapshots__/parsed-text-placeholder-in-template-literal-string.expected.txt
  src/__tests__/fixtures/parsed-text-style-tag/__snapshots__/parsed-text-style-tag.expected.txt
  src/__tests__/fixtures/placeholder-body-multi-line-js-comment/__snapshots__/placeholder-body-multi-line-js-comment.expected.txt
  src/__tests__/fixtures/placeholder-body-single-line-js-comment/__snapshots__/placeholder-body-single-line-js-comment.expected.txt
  src/__tests__/fixtures/placeholder-within-script-tag/__snapshots__/placeholder-within-script-tag.expected.txt
  src/__tests__/fixtures/placeholder-within-script-within-string/__snapshots__/placeholder-within-script-within-string.expected.txt
  src/__tests__/fixtures/script-escaped-placeholder/__snapshots__/script-escaped-placeholder.expected.txt
  src/__tests__/fixtures/script-single-line-comment/__snapshots__/script-single-line-comment.expected.txt
  src/__tests__/fixtures/script-tag-entities/__snapshots__/script-tag-entities.expected.txt
  src/__tests__/fixtures/script/__snapshots__/script.expected.txt
  src/states/CLOSE_TAG.ts
Due: eslint --fix, prettier --write

feat: improve js style comment support
  .changeset/empty-trains-grin.md
  .changeset/gold-radios-eat.md
  src/__tests__/fixtures/comments-within-open-tag/__snapshots__/comments-within-open-tag.expected.txt
  src/__tests__/fixtures/comments-within-open-tag/input.marko
  src/__tests__/fixtures/comments-within-tag-body/__snapshots__/comments-within-tag-body.expected.txt
  src/__tests__/fixtures/comments-within-tag-body/input.marko
  src/states/HTML_CONTENT.ts
  src/states/OPEN_TAG.ts
Due: eslint --fix, prettier --write

feat: improve js style comment support (#119)
  .changeset/empty-trains-grin.md
  .changeset/gold-radios-eat.md
  src/__tests__/fixtures/comments-within-open-tag/__snapshots__/comments-within-open-tag.expected.txt
  src/__tests__/fixtures/comments-within-open-tag/input.marko
  src/__tests__/fixtures/comments-within-tag-body/__snapshots__/comments-within-tag-body.expected.txt
  src/__tests__/fixtures/comments-within-tag-body/input.marko
  src/states/HTML_CONTENT.ts
  src/states/OPEN_TAG.ts
Due: eslint --fix, prettier --write

fix: regex continuation issue
  .changeset/gorgeous-laws-grin.md
  src/__tests__/fixtures/attr-regexp/__snapshots__/attr-regexp.expected.txt
  src/__tests__/fixtures/attr-regexp/input.marko
  src/__tests__/fixtures/comments-within-open-tag/__snapshots__/comments-within-open-tag.expected.txt
  src/states/EXPRESSION.ts
Due: eslint --fix, prettier --write

fix: regex continuation issue (#121)
  .changeset/gorgeous-laws-grin.md
  src/__tests__/fixtures/attr-regexp/__snapshots__/attr-regexp.expected.txt
  src/__tests__/fixtures/attr-regexp/input.marko
  src/__tests__/fixtures/comments-within-open-tag/__snapshots__/comments-within-open-tag.expected.txt
  src/states/EXPRESSION.ts
Due: eslint --fix, prettier --write

fix: comma will now always terminate a tag variable
  .changeset/cuddly-carrots-compete.md
  src/__tests__/fixtures/comma-after-tag-variable/__snapshots__/comma-after-tag-variable.expected.txt
  src/__tests__/fixtures/comma-after-tag-variable/input.marko
  src/states/OPEN_TAG.ts
Due: eslint --fix, prettier --write

fix: comma will now always terminate a tag variable (#123)
  .changeset/cuddly-carrots-compete.md
  src/__tests__/fixtures/comma-after-tag-variable/__snapshots__/comma-after-tag-variable.expected.txt
  src/__tests__/fixtures/comma-after-tag-variable/input.marko
  src/states/OPEN_TAG.ts
Due: eslint --fix, prettier --write

feat: expose position / location / line internal apis
  .changeset/proud-worms-unite.md
  src/core/Parser.ts
  src/index.ts
  src/util/util.ts
Due: eslint --fix, prettier --write

feat: expose position / location / line internal apis (#125)
  .changeset/proud-worms-unite.md
  src/core/Parser.ts
  src/index.ts
  src/util/util.ts
Due: eslint --fix, prettier --write

fix: require a whitespace before js style comments inside html content
  .changeset/wicked-mangos-camp.md
  src/__tests__/fixtures/comments-within-tag-body/__snapshots__/comments-within-tag-body.expected.txt
  src/__tests__/fixtures/comments-within-tag-body/input.marko
  src/states/HTML_CONTENT.ts
Due: eslint --fix, prettier --write

fix: require a whitespace before js style comments inside html content (#127)
  .changeset/wicked-mangos-camp.md
  src/__tests__/fixtures/comments-within-tag-body/__snapshots__/comments-within-tag-body.expected.txt
  src/__tests__/fixtures/comments-within-tag-body/input.marko
  src/states/HTML_CONTENT.ts
Due: eslint --fix, prettier --write

chore: upgrade dev deps
  package-lock.json
  package.json
Due: prettier --write, fixpack

chore: upgrade dev deps (#129)
  package-lock.json
  package.json
Due: prettier --write, fixpack

refactor: avoid regexp parsing for expression continuations
  .changeset/tame-geese-drop.md
  src/__tests__/fixtures/attr-complex-instanceof/__snapshots__/attr-complex-instanceof.expected.txt
  src/__tests__/fixtures/attr-complex-instanceof/input.marko
  src/__tests__/fixtures/attr-operator-whitespace-eof/__snapshots__/attr-operator-whitespace-eof.expected.txt
  src/__tests__/fixtures/attr-operator-whitespace-eof/input.marko
  src/__tests__/fixtures/attr-operators-space-between/__snapshots__/attr-operators-space-between.expected.txt
  src/__tests__/fixtures/attr-operators-space-between/input.marko
  src/states/EXPRESSION.ts
  src/util/constants.ts
Due: eslint --fix, prettier --write

feat: improve continue expressions with equals
  src/__tests__/fixtures/attr-complex-functions/__snapshots__/attr-complex-functions.expected.txt
  src/__tests__/fixtures/attr-complex-functions/input.marko
  src/states/ATTRIBUTE.ts
  src/states/EXPRESSION.ts
  src/states/OPEN_TAG.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *{.js,.json,.md,.yml,rc})
  fixpack: any of: ./package.json
