Repository marko-js/htmljs-parser: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, fixpack

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*{.js,.json,.md,.yml,rc}": ["prettier --write"],
  "./package.json": ["fixpack"]
}

fix: arrow fn in type args/params
  .changeset/tired-results-taste.md
  src/__tests__/fixtures/tag-type-argument-arrow-function/__snapshots__/tag-type-argument-arrow-function.expected.txt
  src/__tests__/fixtures/tag-type-argument-arrow-function/input.marko
  src/states/EXPRESSION.ts
Due: eslint --fix, prettier --write

feat: add expr validator helpers
  .changeset/nine-cooks-sneeze.md
  src/__tests__/validate.test.ts
  src/index.ts
  src/states/ATTRIBUTE.ts
  src/util/validators.ts
Due: eslint --fix, prettier --write

chore: update ci.yml
  .github/workflows/ci.yml
Due: prettier --write

fix: avoid const enum export
  .changeset/petite-webs-sing.md
  src/util/constants.ts
Due: eslint --fix, prettier --write

fix: add more info to attr value / statement validity
  .changeset/eleven-chicken-share.md
  src/__tests__/validate.test.ts
  src/util/validators.ts
Due: eslint --fix, prettier --write

fix: expose validity enum
  src/index.ts
Due: eslint --fix, prettier --write

fix: normalize concise mode text
  .changeset/gold-rivers-attend.md
  src/__tests__/fixtures/argument-tag-nested-parens/__snapshots__/argument-tag-nested-parens.expected.txt
  src/__tests__/fixtures/complex/__snapshots__/complex.expected.txt
  src/__tests__/fixtures/complex/input.marko
  src/__tests__/fixtures/concise-multiline-content/__snapshots__/concise-multiline-content.expected.txt
  src/__tests__/fixtures/double-hyphen-block/__snapshots__/double-hyphen-block.expected.txt
  src/__tests__/fixtures/multiline-html-block-empty/__snapshots__/multiline-html-block-empty.expected.txt
  src/__tests__/fixtures/multiline-html-block-missing-end/__snapshots__/multiline-html-block-missing-end.expected.txt
  src/__tests__/fixtures/multiline-html-block-nested-empty/__snapshots__/multiline-html-block-nested-empty.expected.txt
  src/__tests__/fixtures/multiline-html-block-nested/__snapshots__/multiline-html-block-nested.expected.txt
  src/__tests__/fixtures/multiline-html-block-same-line/__snapshots__/multiline-html-block-same-line.expected.txt
  src/__tests__/fixtures/multiline-html-block/__snapshots__/multiline-html-block.expected.txt
  src/__tests__/fixtures/multiline-text-block-bad/__snapshots__/multiline-text-block-bad.expected.txt
  src/__tests__/fixtures/multiline-text-block-with-hyphens/__snapshots__/multiline-text-block-with-hyphens.expected.txt
  src/__tests__/fixtures/multiline-text-block/__snapshots__/multiline-text-block.expected.txt
  src/__tests__/fixtures/nested-text/__snapshots__/nested-text.expected.txt
  src/__tests__/fixtures/open-tag-only-with-body/__snapshots__/open-tag-only-with-body.expected.txt
  src/__tests__/fixtures/script-concise/__snapshots__/script-concise.expected.txt
  src/__tests__/fixtures/scriptlet-block-html/__snapshots__/scriptlet-block-html.expected.txt
  src/__tests__/fixtures/scriptlet-line-html/__snapshots__/scriptlet-line-html.expected.txt
  src/__tests__/fixtures/scriptlet-line-no-middle-html/__snapshots__/scriptlet-line-no-middle-html.expected.txt
  src/__tests__/fixtures/simple-text-delimited/__snapshots__/simple-text-delimited.expected.txt
  src/__tests__/fixtures/tag-var-before-concise-text/__snapshots__/tag-var-before-concise-text.expected.txt
  src/__tests__/fixtures/text-parse-mode-delimited-block/__snapshots__/text-parse-mode-delimited-block.expected.txt
  src/__tests__/fixtures/whitespace-preservation/__snapshots__/whitespace-preservation.expected.txt
  src/core/Parser.ts
  src/states/BEGIN_DELIMITED_HTML_BLOCK.ts
  src/util/util.ts
Due: eslint --fix, prettier --write

feat: add isValidScriptlet api
  .changeset/afraid-radios-begin.md
  src/__tests__/validate.test.ts
  src/index.ts
  src/util/validators.ts
Due: eslint --fix, prettier --write

fix: incorrect whitespace removal in concise mode html blocks
  .changeset/metal-bobcats-bathe.md
  src/__tests__/fixtures/argument-tag-nested-parens/__snapshots__/argument-tag-nested-parens.expected.txt
  src/__tests__/fixtures/mixed-block-root/__snapshots__/mixed-block-root.expected.txt
  src/__tests__/fixtures/mixed-block-root/input.marko
  src/__tests__/fixtures/multiline-html-block/__snapshots__/multiline-html-block.expected.txt
  src/__tests__/fixtures/open-tag-only-with-body/__snapshots__/open-tag-only-with-body.expected.txt
  src/states/BEGIN_DELIMITED_HTML_BLOCK.ts
Due: eslint --fix, prettier --write

fix: trailing whitespace concise blocks
  .changeset/tricky-aliens-cut.md
  src/__tests__/fixtures/concise-block-whitespace-leading/__snapshots__/concise-block-whitespace-leading.expected.txt
  src/__tests__/fixtures/concise-block-whitespace-leading/input.marko
  src/__tests__/fixtures/concise-line-whitespace-ending/__snapshots__/concise-line-whitespace-ending.expected.txt
  src/__tests__/fixtures/concise-line-whitespace-ending/input.marko
  src/states/BEGIN_DELIMITED_HTML_BLOCK.ts
  src/util/util.ts
Due: eslint --fix, prettier --write

perf: refactor states to be able to parse multiple characters
  .changeset/petite-signs-dance.md
  src/__tests__/fixtures/attr-grouped-no-whitespace/__snapshots__/attr-grouped-no-whitespace.expected.txt
  src/__tests__/fixtures/attr-grouped-no-whitespace/input.marko
  src/__tests__/fixtures/regexp-escaped-newline/__snapshots__/regexp-escaped-newline.expected.txt
  src/__tests__/fixtures/regexp-escaped-newline/input.marko
  src/__tests__/validate.test.ts
  src/core/Parser.ts
  src/states/ATTRIBUTE.ts
  src/states/BEGIN_DELIMITED_HTML_BLOCK.ts
  src/states/CDATA.ts
  src/states/CLOSE_TAG.ts
  src/states/CONCISE_HTML_CONTENT.ts
  src/states/DECLARATION.ts
  src/states/DTD.ts
  src/states/EXPRESSION.ts
  src/states/HTML_COMMENT.ts
  src/states/HTML_CONTENT.ts
  src/states/INLINE_SCRIPT.ts
  src/states/JS_COMMENT_BLOCK.ts
  src/states/JS_COMMENT_LINE.ts
  src/states/OPEN_TAG.ts
  src/states/PARSED_STRING.ts
  src/states/PARSED_TEXT_CONTENT.ts
  src/states/PLACEHOLDER.ts
  src/states/REGULAR_EXPRESSION.ts
  src/states/STRING.ts
  src/states/TAG_NAME.ts
  src/states/TEMPLATE_STRING.ts
  src/util/validators.ts
Due: eslint --fix, prettier --write

perf(expression): fast-path identifier characters and short-circuit keyword scans
  .changeset/fast-expressions-skip-scans.md
  src/states/EXPRESSION.ts
Due: eslint --fix, prettier --write

docs(bench): record holistic optimization findings
  bench/README.md
Due: prettier --write

perf(text): adaptive bulk scanning for long text/raw-content runs
  bench/README.md
  src/states/HTML_CONTENT.ts
  src/states/PARSED_TEXT_CONTENT.ts
Due: eslint --fix, prettier --write

Revert adaptive bulk text scanning (keep findings documented)
  bench/README.md
  src/states/HTML_CONTENT.ts
  src/states/PARSED_TEXT_CONTENT.ts
Due: eslint --fix, prettier --write

fix(expression): end type annotation at function body brace
  .changeset/statement-fn-return-type-body.md
  src/__tests__/fixtures/ts-statement-function-return-type/__snapshots__/ts-statement-function-return-type.expected.txt
  src/__tests__/fixtures/ts-statement-function-return-type/input.marko
  src/states/EXPRESSION.ts
Due: eslint --fix, prettier --write

feat: support comments between concise mode line attributes
  .changeset/quick-comments-attrs.md
  src/__tests__/fixtures/attr-comma-multiline-comment-trailing/__snapshots__/attr-comma-multiline-comment-trailing.expected.txt
  src/__tests__/fixtures/attr-comma-multiline-comment-trailing/input.marko
  src/__tests__/fixtures/attr-comma-multiline-comments/__snapshots__/attr-comma-multiline-comments.expected.txt
  src/__tests__/fixtures/attr-comma-multiline-comments/input.marko
  src/states/OPEN_TAG.ts
Due: eslint --fix, prettier --write

Fix trailing line comment classified as enclosed in validators
  .changeset/tidy-carrots-repair.md
  src/__tests__/validate.test.ts
  src/states/EXPRESSION.ts
Due: eslint --fix, prettier --write

Add agent-feedback setup
  AGENTS.md
  CLAUDE.md
  agent-feedback/README.md
  agent-feedback/bugs.md
  agent-feedback/cleanup.md
  agent-feedback/dx.md
  agent-feedback/perf.md
  agent-feedback/unclear.md
Due: prettier --write

build: convert repo from npm to pnpm
  .github/workflows/ci.yml
  .gitignore
  .husky/pre-commit
  .prettierignore
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, fixpack
