Repository marko-js/htmljs-parser: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, fixpack

build: convert repo from npm to pnpm
  .github/workflows/ci.yml
  .gitignore
  .husky/pre-commit
  .prettierignore
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, fixpack

docs: record unterminated concise-mode placeholder data loss in agent-feedback
  agent-feedback/bugs.md
Due: prettier --write

docs(agent-feedback): take over two tokenizer defects from the marko backlog
  agent-feedback/bugs.md
Due: prettier --write

style(agent-feedback): satisfy prettier
  agent-feedback/bugs.md
Due: prettier --write

Treat "</" after an unenclosed attribute value as a close tag
  .changeset/close-tag-less-than.md
  agent-feedback/bugs.md
  src/__tests__/fixtures/attr-close-tag-in-unenclosed-value/__snapshots__/attr-close-tag-in-unenclosed-value.expected.txt
  src/__tests__/fixtures/attr-close-tag-in-unenclosed-value/input.marko
  src/__tests__/fixtures/attr-less-than-regex/__snapshots__/attr-less-than-regex.expected.txt
  src/__tests__/fixtures/attr-less-than-regex/input.marko
  src/__tests__/fixtures/attr-less-than/__snapshots__/attr-less-than.expected.txt
  src/__tests__/fixtures/attr-less-than/input.marko
  src/states/ATTRIBUTE.ts
  src/states/EXPRESSION.ts
Due: eslint --fix, prettier --write

feat: support async shorthand methods
  .changeset/async-attr-method-shorthand.md
  agent-feedback/bugs.md
  src/__tests__/fixtures/attr-method-shorthand-async-fallback/__snapshots__/attr-method-shorthand-async-fallback.expected.txt
  src/__tests__/fixtures/attr-method-shorthand-async-fallback/input.marko
  src/__tests__/fixtures/attr-method-shorthand-async/__snapshots__/attr-method-shorthand-async.expected.txt
  src/__tests__/fixtures/attr-method-shorthand-async/input.marko
  src/__tests__/main.test.ts
  src/states/ATTRIBUTE.ts
  src/util/constants.ts
Due: eslint --fix, prettier --write

test: cover delimiters inside an async method signature
  src/__tests__/fixtures/attr-method-shorthand-async/__snapshots__/attr-method-shorthand-async.expected.txt
  src/__tests__/fixtures/attr-method-shorthand-async/input.marko
Due: none

feat: report an html comment inside an open tag
  .changeset/html-comment-in-open-tag.md
  src/__tests__/fixtures/attr-value-html-comment-in-regex/__snapshots__/attr-value-html-comment-in-regex.expected.txt
  src/__tests__/fixtures/attr-value-html-comment-in-regex/input.marko
  src/__tests__/fixtures/invalid-html-comment-after-attr-name/__snapshots__/invalid-html-comment-after-attr-name.expected.txt
  src/__tests__/fixtures/invalid-html-comment-after-attr-name/input.marko
  src/__tests__/fixtures/invalid-html-comment-after-attr-value/__snapshots__/invalid-html-comment-after-attr-value.expected.txt
  src/__tests__/fixtures/invalid-html-comment-after-attr-value/input.marko
  src/__tests__/fixtures/invalid-html-comment-concise/__snapshots__/invalid-html-comment-concise.expected.txt
  src/__tests__/fixtures/invalid-html-comment-concise/input.marko
  src/__tests__/fixtures/invalid-html-comment-in-open-tag/__snapshots__/invalid-html-comment-in-open-tag.expected.txt
  src/__tests__/fixtures/invalid-html-comment-in-open-tag/input.marko
  src/states/ATTRIBUTE.ts
  src/states/EXPRESSION.ts
  src/states/OPEN_TAG.ts
  src/util/error-code.ts
Due: eslint --fix, prettier --write

docs(agent-feedback): migrate to one item per file
  AGENTS.md
  agent-feedback/README.md
  agent-feedback/bugs.md
  agent-feedback/cleanup.md
  agent-feedback/dx.md
  agent-feedback/items/2026-07-30-escaped-quote-in-parsed-text.md
  agent-feedback/items/2026-08-11-eof-attr-name-html-mode.md
  agent-feedback/perf.md
  agent-feedback/unclear.md
Due: prettier --write

docs(agent-feedback): report comments inside an open tag
  agent-feedback/items/2026-08-20-report-comments-inside-an-open-tag.md
Due: prettier --write

docs(agent-feedback): report a nesting-depth crash from a third scan wave
  agent-feedback/items/2026-08-20-expose-package-json-export.md
Due: prettier --write

fix: start every scriptlet range at its `$`
  .changeset/scriptlet-range-at-dollar.md
  src/__tests__/fixtures/commas-relax/__snapshots__/commas-relax.expected.txt
  src/__tests__/fixtures/scriptlet-block-division/__snapshots__/scriptlet-block-division.expected.txt
  src/__tests__/fixtures/scriptlet-block-multiline-comment/__snapshots__/scriptlet-block-multiline-comment.expected.txt
  src/__tests__/fixtures/scriptlet-block-nested/__snapshots__/scriptlet-block-nested.expected.txt
  src/__tests__/fixtures/scriptlet-block-regex/__snapshots__/scriptlet-block-regex.expected.txt
  src/__tests__/fixtures/scriptlet-block-single-line-comment/__snapshots__/scriptlet-block-single-line-comment.expected.txt
  src/__tests__/fixtures/scriptlet-block-space-semi-colon/__snapshots__/scriptlet-block-space-semi-colon.expected.txt
  src/__tests__/fixtures/scriptlet-block-template-literal-href/__snapshots__/scriptlet-block-template-literal-href.expected.txt
  src/__tests__/fixtures/scriptlet-block-with-semi-colon/__snapshots__/scriptlet-block-with-semi-colon.expected.txt
  src/__tests__/fixtures/scriptlet-block/__snapshots__/scriptlet-block.expected.txt
  src/__tests__/fixtures/scriptlet-comment/__snapshots__/scriptlet-comment.expected.txt
  src/__tests__/fixtures/scriptlet-eof/__snapshots__/scriptlet-eof.expected.txt
  src/__tests__/fixtures/scriptlet-line-continue-chain/__snapshots__/scriptlet-line-continue-chain.expected.txt
  src/__tests__/fixtures/scriptlet-line-continue/__snapshots__/scriptlet-line-continue.expected.txt
  src/__tests__/fixtures/scriptlet-line-multiline-comments/__snapshots__/scriptlet-line-multiline-comments.expected.txt
  src/__tests__/fixtures/scriptlet-line-regex-open-bracket/__snapshots__/scriptlet-line-regex-open-bracket.expected.txt
  src/__tests__/fixtures/scriptlet-line-regex-open-curly/__snapshots__/scriptlet-line-regex-open-curly.expected.txt
  src/__tests__/fixtures/scriptlet-line-template-literal/__snapshots__/scriptlet-line-template-literal.expected.txt
  src/__tests__/fixtures/scriptlet-line-trailing-line-comment/__snapshots__/scriptlet-line-trailing-line-comment.expected.txt
  src/__tests__/fixtures/scriptlet-line/__snapshots__/scriptlet-line.expected.txt
  src/states/CONCISE_HTML_CONTENT.ts
Due: eslint --fix, prettier --write

feat: export escapeText for printing text content
  .changeset/escape-text.md
  .changeset/odd-backslash-runs.md
  src/__tests__/escape.test.ts
  src/__tests__/fixtures/placeholder-escaped-backslash-runs/__snapshots__/placeholder-escaped-backslash-runs.expected.txt
  src/__tests__/fixtures/placeholder-escaped-backslash-runs/input.marko
  src/index.ts
  src/states/PLACEHOLDER.ts
  src/util/escape.ts
Due: eslint --fix, prettier --write

feat: report comments that stand alone in an open tag
  .changeset/open-tag-comments.md
  README.md
  agent-feedback/items/2026-08-20-report-comments-inside-an-open-tag.md
  src/__tests__/fixtures/open-tag-comments-concise/__snapshots__/open-tag-comments-concise.expected.txt
  src/__tests__/fixtures/open-tag-comments/__snapshots__/open-tag-comments.expected.txt
  src/__tests__/fixtures/open-tag-comments/input.marko
  src/__tests__/main.test.ts
  src/states/CONCISE_HTML_CONTENT.ts
  src/states/HTML_CONTENT.ts
  src/states/JS_COMMENT_LINE.ts
  src/states/OPEN_TAG.ts
  src/util/constants.ts
Due: eslint --fix, prettier --write

fix: report comments before a comma-continued concise attr line
  .changeset/concise-attr-line-comments.md
  agent-feedback/items/2026-09-23-bench-compare-installs-with-npm.md
  src/__tests__/fixtures/attr-comma-multiline-comments/__snapshots__/attr-comma-multiline-comments.expected.txt
  src/__tests__/fixtures/open-tag-comments-concise/__snapshots__/open-tag-comments-concise.expected.txt
  src/__tests__/fixtures/open-tag-comments-concise/input.marko
  src/states/OPEN_TAG.ts
Due: eslint --fix, prettier --write

feat: let an attr value continue past whitespace after its leading comments
  .changeset/attr-value-leading-comments.md
  README.md
  src/__tests__/fixtures/attr-value-leading-comment-concise/__snapshots__/attr-value-leading-comment-concise.expected.txt
  src/__tests__/fixtures/attr-value-leading-comment-concise/input.marko
  src/__tests__/fixtures/attr-value-leading-comment/__snapshots__/attr-value-leading-comment.expected.txt
  src/__tests__/fixtures/attr-value-leading-comment/input.marko
  src/__tests__/validate.test.ts
  src/states/EXPRESSION.ts
Due: eslint --fix, prettier --write

feat: report an attr value that is only a comment
  .changeset/attr-mistake-diagnostics.md
  src/__tests__/fixtures/attr-value-leading-comment-concise/__snapshots__/attr-value-leading-comment-concise.expected.txt
  src/__tests__/fixtures/attr-value-leading-comment-concise/input.marko
  src/__tests__/fixtures/attr-value-leading-comment/__snapshots__/attr-value-leading-comment.expected.txt
  src/__tests__/fixtures/attr-value-leading-comment/input.marko
  src/__tests__/fixtures/attr-value-only-comment-bound/__snapshots__/attr-value-only-comment-bound.expected.txt
  src/__tests__/fixtures/attr-value-only-comment-bound/input.marko
  src/__tests__/fixtures/attr-value-only-comment-concise-text/__snapshots__/attr-value-only-comment-concise-text.expected.txt
  src/__tests__/fixtures/attr-value-only-comment-concise-text/input.marko
  src/__tests__/fixtures/attr-value-only-comment-concise/__snapshots__/attr-value-only-comment-concise.expected.txt
  src/__tests__/fixtures/attr-value-only-comment-concise/input.marko
  src/__tests__/fixtures/attr-value-only-comment-default/__snapshots__/attr-value-only-comment-default.expected.txt
  src/__tests__/fixtures/attr-value-only-comment-default/input.marko
  src/__tests__/fixtures/attr-value-only-comment-line/__snapshots__/attr-value-only-comment-line.expected.txt
  src/__tests__/fixtures/attr-value-only-comment-line/input.marko
  src/__tests__/fixtures/attr-value-only-comment-many/__snapshots__/attr-value-only-comment-many.expected.txt
  src/__tests__/fixtures/attr-value-only-comment-many/input.marko
  src/__tests__/fixtures/attr-value-only-comment-spread/__snapshots__/attr-value-only-comment-spread.expected.txt
  src/__tests__/fixtures/attr-value-only-comment-spread/input.marko
  src/__tests__/fixtures/attr-value-only-comment/__snapshots__/attr-value-only-comment.expected.txt
  src/__tests__/fixtures/attr-value-only-comment/input.marko
  src/states/ATTRIBUTE.ts
Due: eslint --fix, prettier --write

feat: say a void tag does not support body content
  .changeset/attr-mistake-diagnostics.md
  src/__tests__/fixtures/open-tag-only-with-body-concise/__snapshots__/open-tag-only-with-body-concise.expected.txt
  src/__tests__/fixtures/open-tag-only-with-body/__snapshots__/open-tag-only-with-body.expected.txt
  src/__tests__/fixtures/void-tag-body-concise-nested/__snapshots__/void-tag-body-concise-nested.expected.txt
  src/__tests__/fixtures/void-tag-body-concise-nested/input.marko
  src/__tests__/fixtures/void-tag-closing-tag-nested/__snapshots__/void-tag-closing-tag-nested.expected.txt
  src/__tests__/fixtures/void-tag-closing-tag-nested/input.marko
  src/__tests__/fixtures/void-tag-closing-tag-other-level/__snapshots__/void-tag-closing-tag-other-level.expected.txt
  src/__tests__/fixtures/void-tag-closing-tag-other-level/input.marko
  src/__tests__/fixtures/void-tag-self-closed-indented/__snapshots__/void-tag-self-closed-indented.expected.txt
  src/__tests__/fixtures/void-tag-self-closed-indented/input.marko
  src/core/Parser.ts
  src/states/CLOSE_TAG.ts
  src/states/CONCISE_HTML_CONTENT.ts
  src/states/OPEN_TAG.ts
Due: eslint --fix, prettier --write

feat: report a type argument split by the tag-ending `>`
  .changeset/attr-mistake-diagnostics.md
  src/__tests__/fixtures/attr-less-than-before-parens/__snapshots__/attr-less-than-before-parens.expected.txt
  src/__tests__/fixtures/attr-less-than-before-parens/input.marko
  src/__tests__/fixtures/attr-split-type-arg-call/__snapshots__/attr-split-type-arg-call.expected.txt
  src/__tests__/fixtures/attr-split-type-arg-call/input.marko
  src/__tests__/fixtures/attr-split-type-arg-multiline/__snapshots__/attr-split-type-arg-multiline.expected.txt
  src/__tests__/fixtures/attr-split-type-arg-multiline/input.marko
  src/__tests__/fixtures/attr-split-type-arg/__snapshots__/attr-split-type-arg.expected.txt
  src/__tests__/fixtures/attr-split-type-arg/input.marko
  src/states/ATTRIBUTE.ts
Due: eslint --fix, prettier --write

feat: report attrs with no whitespace between them
  .changeset/attr-mistake-diagnostics.md
  src/__tests__/fixtures/attr-keyword-operator-no-whitespace/__snapshots__/attr-keyword-operator-no-whitespace.expected.txt
  src/__tests__/fixtures/attr-keyword-operator-no-whitespace/input.marko
  src/__tests__/fixtures/attr-missing-whitespace-bound/__snapshots__/attr-missing-whitespace-bound.expected.txt
  src/__tests__/fixtures/attr-missing-whitespace-bound/input.marko
  src/__tests__/fixtures/attr-missing-whitespace-concise/__snapshots__/attr-missing-whitespace-concise.expected.txt
  src/__tests__/fixtures/attr-missing-whitespace-concise/input.marko
  src/__tests__/fixtures/attr-missing-whitespace-group/__snapshots__/attr-missing-whitespace-group.expected.txt
  src/__tests__/fixtures/attr-missing-whitespace-group/input.marko
  src/__tests__/fixtures/attr-missing-whitespace-self-closed/__snapshots__/attr-missing-whitespace-self-closed.expected.txt
  src/__tests__/fixtures/attr-missing-whitespace-self-closed/input.marko
  src/__tests__/fixtures/attr-missing-whitespace-template/__snapshots__/attr-missing-whitespace-template.expected.txt
  src/__tests__/fixtures/attr-missing-whitespace-template/input.marko
  src/__tests__/fixtures/attr-missing-whitespace/__snapshots__/attr-missing-whitespace.expected.txt
  src/__tests__/fixtures/attr-missing-whitespace/input.marko
  src/states/EXPRESSION.ts
Due: eslint --fix, prettier --write

feat: report a closing tag inside a concise line
  .changeset/attr-mistake-diagnostics.md
  src/__tests__/fixtures/concise-close-tag-after-attr-name/__snapshots__/concise-close-tag-after-attr-name.expected.txt
  src/__tests__/fixtures/concise-close-tag-after-attr-name/input.marko
  src/__tests__/fixtures/concise-close-tag-after-attrs/__snapshots__/concise-close-tag-after-attrs.expected.txt
  src/__tests__/fixtures/concise-close-tag-after-attrs/input.marko
  src/__tests__/fixtures/concise-close-tag-after-tag-name/__snapshots__/concise-close-tag-after-tag-name.expected.txt
  src/__tests__/fixtures/concise-close-tag-after-tag-name/input.marko
  src/__tests__/fixtures/concise-close-tag-after-tag-var/__snapshots__/concise-close-tag-after-tag-var.expected.txt
  src/__tests__/fixtures/concise-close-tag-after-tag-var/input.marko
  src/states/ATTRIBUTE.ts
  src/states/OPEN_TAG.ts
Due: eslint --fix, prettier --write

fix: add the missing "not" to the indentation mismatch error
  .changeset/attr-mistake-diagnostics.md
  src/__tests__/fixtures/mixed-bad-indentation/__snapshots__/mixed-bad-indentation.expected.txt
  src/states/CONCISE_HTML_CONTENT.ts
Due: eslint --fix, prettier --write

docs: fix misparses in the parser and treat event changes as breaking
  AGENTS.md
Due: prettier --write

docs(agent-feedback): file bugs found auditing Marko invariants
  agent-feedback/items/2026-09-25-add-a-text-body-mode-that-does-not-lex-javascript.md
  agent-feedback/items/2026-09-25-end-a-type-at-a-line-final-void.md
  agent-feedback/items/2026-09-25-give-isvalidstatement-the-type-statement-look-ahead.md
  agent-feedback/items/2026-09-25-stop-emitting-a-placeholder-after-an-empty-placeholder-error.md
  agent-feedback/items/2026-09-25-treat-a-trailing-non-null-assertion-as-postfix.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *{.js,.json,.md,.yml,rc})
  fixpack: any of: ./package.json
