Repository marko-js/htmljs-parser: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, fixpack

fix: parsed text string literals
  .changeset/eight-shirts-dream.md
  src/__tests__/fixtures/script-with-strings/__snapshots__/script-with-strings.expected.txt
  src/__tests__/fixtures/script-with-strings/input.marko
  src/states/PARSED_STRING.ts
  src/states/PARSED_TEXT_CONTENT.ts
  src/states/index.ts
Due: eslint --fix, prettier --write

test: add regression test for quotes
  src/__tests__/fixtures/placeholder-within-script-within-string/__snapshots__/placeholder-within-script-within-string.expected.txt
  src/__tests__/fixtures/placeholder-within-script-within-string/input.marko
Due: none

fix: parsed text placeholders should enter the text state on close quote char
  .changeset/strong-deers-complain.md
  src/__tests__/fixtures/script-with-strings/__snapshots__/script-with-strings.expected.txt
  src/states/PARSED_STRING.ts
Due: eslint --fix, prettier --write

fix: always consume terminator if it is preceded by an operator
  .changeset/tall-moons-enjoy.md
  src/__tests__/fixtures/attr-complex-unary/__snapshots__/attr-complex-unary.expected.txt
  src/__tests__/fixtures/attr-complex-unary/input.marko
  src/__tests__/fixtures/tag-var-type-with-parens/__snapshots__/tag-var-type-with-parens.expected.txt
  src/__tests__/fixtures/tag-var-type-with-parens/input.marko
  src/states/EXPRESSION.ts
Due: eslint --fix, prettier --write

feat: support indented comments outside of a parent tag
  .changeset/warm-olives-warn.md
  src/__tests__/fixtures/bad-tag-indent/__snapshots__/bad-tag-indent.expected.txt
  src/__tests__/fixtures/bad-tag-indent/input.marko
  src/states/CONCISE_HTML_CONTENT.ts
Due: eslint --fix, prettier --write

fix: improve detection of regexp vs division
  .changeset/heavy-stingrays-invite.md
  src/__tests__/fixtures/css-grid/__snapshots__/css-grid.expected.txt
  src/__tests__/fixtures/css-grid/input.marko
  src/states/EXPRESSION.ts
Due: eslint --fix, prettier --write

chore: update deps
  .changeset/plenty-donkeys-cry.md
  .eslintrc.json
  .github/workflows/ci.yml
  package-lock.json
  package.json
  src/__tests__/main.test.ts
  src/core/Parser.ts
  src/states/ATTRIBUTE.ts
  src/states/BEGIN_DELIMITED_HTML_BLOCK.ts
  src/states/CDATA.ts
  src/states/CLOSE_TAG.ts
  src/states/CONCISE_HTML_CONTENT.ts
  src/states/DECLARATION.ts
  src/states/DTD.ts
  src/states/EXPRESSION.ts
  src/states/HTML_COMMENT.ts
  src/states/HTML_CONTENT.ts
  src/states/INLINE_SCRIPT.ts
  src/states/JS_COMMENT_BLOCK.ts
  src/states/JS_COMMENT_LINE.ts
  src/states/OPEN_TAG.ts
  src/states/PARSED_STRING.ts
  src/states/PARSED_TEXT_CONTENT.ts
  src/states/PLACEHOLDER.ts
  src/states/REGULAR_EXPRESSION.ts
  src/states/STRING.ts
  src/states/TAG_NAME.ts
  src/states/TEMPLATE_STRING.ts
  src/util/constants.ts
  src/util/util.ts
  tsconfig.json
Due: eslint --fix, prettier --write, fixpack

chore: upgrade deps
  .husky/pre-commit
  bench.mts
  package-lock.json
  package.json
Due: prettier --write, fixpack

fix: incude `satisfies` binary operator
  src/states/EXPRESSION.ts
Due: eslint --fix, prettier --write

chore: update tests
  src/__tests__/fixtures/attr-operators-space-between/__snapshots__/attr-operators-space-between.expected.txt
  src/__tests__/fixtures/attr-operators-space-between/input.marko
Due: none

chore: add changeset
  .changeset/mighty-sheep-move.md
Due: prettier --write

fix: incude `satisfies` binary operator (#175)
  .changeset/mighty-sheep-move.md
  src/__tests__/fixtures/attr-operators-space-between/__snapshots__/attr-operators-space-between.expected.txt
  src/__tests__/fixtures/attr-operators-space-between/input.marko
  src/states/EXPRESSION.ts
Due: eslint --fix, prettier --write

fix: comment in scriptlet
  package-lock.json
  package.json
  src/__tests__/fixtures/scriptlet-comment/__snapshots__/scriptlet-comment.expected.txt
  src/__tests__/fixtures/scriptlet-comment/input.marko
  src/states/EXPRESSION.ts
Due: eslint --fix, prettier --write, fixpack

chore: add changeset
  .changeset/five-cheetahs-grow.md
Due: prettier --write

fix(bonus): bump node versions for CI
  .github/workflows/ci.yml
Due: prettier --write

fix: comment in scriptlet (#178)
  .changeset/five-cheetahs-grow.md
  .github/workflows/ci.yml
  package-lock.json
  package.json
  src/__tests__/fixtures/scriptlet-comment/__snapshots__/scriptlet-comment.expected.txt
  src/__tests__/fixtures/scriptlet-comment/input.marko
  src/states/EXPRESSION.ts
Due: eslint --fix, prettier --write, fixpack

fix: allow indented content within statement tags
  .changeset/floppy-shirts-beg.md
  package-lock.json
  src/__tests__/fixtures/commas-relax/__snapshots__/commas-relax.expected.txt
  src/__tests__/fixtures/commas-relax/input.marko
  src/core/Parser.ts
  src/states/EXPRESSION.ts
  src/states/OPEN_TAG.ts
  src/states/TAG_NAME.ts
  src/util/util.ts
Due: eslint --fix, prettier --write

fix: indented statement parsing
  .changeset/polite-cougars-read.md
  src/__tests__/fixtures/commas-relax/__snapshots__/commas-relax.expected.txt
  src/__tests__/fixtures/commas-relax/input.marko
  src/states/EXPRESSION.ts
Due: eslint --fix, prettier --write

fix: avoid startText at eof
  .changeset/fresh-words-fail.md
  src/__tests__/fixtures/concise-multiline-content/__snapshots__/concise-multiline-content.expected.txt
  src/__tests__/fixtures/concise-multiline-content/input.marko
  src/states/BEGIN_DELIMITED_HTML_BLOCK.ts
Due: eslint --fix, prettier --write

fix: regexp charset parsing
  .changeset/funny-pens-peel.md
  src/__tests__/fixtures/attr-regex-character-classes/__snapshots__/attr-regex-character-classes.expected.txt
  src/__tests__/fixtures/attr-regex-character-classes/input.marko
  src/states/REGULAR_EXPRESSION.ts
Due: eslint --fix, prettier --write

fix: improve typescript generic parsing
  .changeset/major-experts-start.md
  README.md
  package.json
  src/__tests__/fixtures/ts-function-type/__snapshots__/ts-function-type.expected.txt
  src/__tests__/fixtures/ts-function-type/input.marko
  src/__tests__/fixtures/ts-generic-complex/__snapshots__/ts-generic-complex.expected.txt
  src/__tests__/fixtures/ts-generic-complex/input.marko
  src/__tests__/fixtures/ts-generic-function-type/__snapshots__/ts-generic-function-type.expected.txt
  src/__tests__/fixtures/ts-generic-function-type/input.marko
  src/__tests__/fixtures/ts-generic-simple/__snapshots__/ts-generic-simple.expected.txt
  src/__tests__/fixtures/ts-generic-simple/input.marko
  src/__tests__/fixtures/ts-intersection-type/__snapshots__/ts-intersection-type.expected.txt
  src/__tests__/fixtures/ts-intersection-type/input.marko
  src/__tests__/fixtures/ts-keyof-typeof/__snapshots__/ts-keyof-typeof.expected.txt
  src/__tests__/fixtures/ts-keyof-typeof/input.marko
  src/__tests__/fixtures/ts-nested-generics/__snapshots__/ts-nested-generics.expected.txt
  src/__tests__/fixtures/ts-nested-generics/input.marko
  src/__tests__/fixtures/ts-static-type/__snapshots__/ts-static-type.expected.txt
  src/__tests__/fixtures/ts-static-type/input.marko
  src/__tests__/fixtures/ts-tag-var-type-generic/__snapshots__/ts-tag-var-type-generic.expected.txt
  src/__tests__/fixtures/ts-tag-var-type-generic/input.marko
  src/__tests__/fixtures/ts-type-statement/__snapshots__/ts-type-statement.expected.txt
  src/__tests__/fixtures/ts-type-statement/input.marko
  src/states/EXPRESSION.ts
  src/states/OPEN_TAG.ts
  src/states/TAG_NAME.ts
Due: eslint --fix, prettier --write, fixpack

fix: arrow function parsing in type expressions
  .changeset/nine-dragons-shake.md
  src/__tests__/fixtures/ts-type-statement/__snapshots__/ts-type-statement.expected.txt
  src/__tests__/fixtures/ts-type-statement/input.marko
  src/states/EXPRESSION.ts
Due: eslint --fix, prettier --write

fix: ts unary operator only in ts expression
  .changeset/khaki-years-mix.md
  src/__tests__/fixtures/ts-unary-exression/__snapshots__/ts-unary-exression.expected.txt
  src/__tests__/fixtures/ts-unary-exression/input.marko
  src/states/ATTRIBUTE.ts
  src/states/EXPRESSION.ts
  src/states/OPEN_TAG.ts
Due: eslint --fix, prettier --write

fix: arrow functions content was being parsed as types
  .changeset/chubby-glasses-read.md
  src/__tests__/fixtures/ts-static-const-arrow-function-return-type/__snapshots__/ts-static-const-arrow-function-return-type.expected.txt
  src/__tests__/fixtures/ts-static-const-arrow-function-return-type/input.marko
  src/states/EXPRESSION.ts
Due: eslint --fix, prettier --write

fix: arrow fn in type args/params
  .changeset/tired-results-taste.md
  src/__tests__/fixtures/tag-type-argument-arrow-function/__snapshots__/tag-type-argument-arrow-function.expected.txt
  src/__tests__/fixtures/tag-type-argument-arrow-function/input.marko
  src/states/EXPRESSION.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *{.js,.json,.md,.yml,rc})
  fixpack: any of: ./package.json
